<div style="height: 100%;">
  <mat-card class="header-card">
    Tasks
  </mat-card>
  <mat-card class="task-actions-card">
    <div>
      <button mat-button>
        <i class="fa fa-plus-circle"> Create</i>
      </button>
      <button mat-button>
        <i class="fa fa-minus-circle"> Delete</i>
      </button>
    </div>
    <div>
      <button mat-button (click)="showFilterOptions = !showFilterOptions;">
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </mat-card>
  <div class="table-container">
    <mat-card class="filter-card" *ngIf="showFilterOptions">
      <mat-form-field>
        <mat-select placeholder="Status" [formControl]="filterStatus" multiple>
          <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" [formControl]="filterStatus" multiple>
          <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [formControl]="filterDate" placeholder="Due date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="applyFilters()">
        <i class="fa fa-filter"> Filter</i>
      </button>
      <button mat-button (click)="clearFilters()">
        <i class="fa fa-times"> Clear</i>
      </button>
    </mat-card>

    <mat-table #table class="task-data-table" [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="taskno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="fa fa-tasks"> {{ element.id }}</i>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-list class="task-status-{{ element.status.toLowerCase() }}">
            <mat-chip>{{element.status}}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="due">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Due </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deadLine}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="11" [pageSizeOptions]="[8, 9, 10, 11, 25, 100]"></mat-paginator>
  </div>
</div>